# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/

app/tests/coverage/
.bower-*/
coverage/
.coveralls.yml

bower_components/
node_modules/

# Compiled files
frontend/client.min.js

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.pyc
*.retry
*~
*.pdf
*.aux
logs/
build/

*.hot-update.js
*.hot-update.json
frontend/client\.min\.js\.map

#vagrant
.vagrant/


\.vscode/

\.idea/

\.scannerwork/

\.env

dist/
