# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/

app/tests/coverage/
.bower-*/
coverage/
.coveralls.yml

bower_components/
node_modules/

# Compiled files
public/css/*
public/js/*

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
