# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/

app/tests/coverage/
.bower-*/
coverage/
.coveralls.yml

bower_components/
node_modules/

# Compiled files
public/client.min.js

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.pyc
*.retry
logs/
build/

public/client\.min\.js\.map

#vagrant
.vagrant/

